{% extends 'base.html' %}

{% block title %}edit{% endblock %}

{% block body %}

<!--Formulario para editar un contacto enviando nuevos datos a la BD-->
<div class="col-md-4 offset-md-4">
    <div class="card card-body">
        <form action="/edit/{{contact_to_edit.id}}" method='POST'>
            <div class="form-group">
                <input type="text" name="fullname" value={{contact_to_edit.fullname}} class="form-control">
            </div>

            <div class="form-group">
                <input type="text" name="phone" value={{contact_to_edit.phone}} class="form-control">
            </div>

            <div class="form-group">
                <input type="text" name="email" value={{contact_to_edit.email}} class="form-control">
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-primary btn-block"> Edit </button>
            </div>
        </form>
    </div>
</div>
{% endblock %}